<!--Barra navegacion-->
<nav class="navbar navbar-expand-lg navbar-black bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  class="collapse navbar-collapse" 
        id="navbarTogglerDemo01">
    <a  class="navbar-brand" 
        routerLink=".">Home</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a  class="navbar-brand" 
        routerLink="./productos">2ª Pag</a>

      <!--Boton menu primero-->
      <button mat-button [matMenuTriggerFor]="periodicos">Periódicos</button>
        <mat-menu #periodicos="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="toledo">
            Periódicos de Toledo</button>
          <button mat-menu-item [matMenuTriggerFor]="madrid">
            Periódicos de Madrid</button>
        </mat-menu>
        <!--Submenu Toledo-->
        <mat-menu #toledo="matMenu">
          <a mat-menu-item href="https://www.latribunadetoledo.es/" target="_blank">
              La Tribuna de Toledo</a>
          <a mat-menu-item href="https://www.lacerca.com/noticias/toledo" target="_blank">
              Lacerca</a>
        </mat-menu>
        <!--Submenu Madrid-->
        <mat-menu #madrid="matMenu">
          <a mat-menu-item href="www.20minutos.es" target="_blank">20 Minutos</a>
          <a mat-menu-item href="www.larazon.es" target="_blank">La Razon</a>
          <a mat-menu-item href="www.nuevatribuna.es" target="_blank">Nueva Tribuna</a>
        </mat-menu>

        <!--Acceso directo a buscadores-->
        <button mat-button [matMenuTriggerFor]="buscadores">
                Buscadores de Internet</button>
        <mat-menu #buscadores="matMenu">
          <a mat-menu-item href="https://www.google.com" target="_blank">
              Google</a>
          <a mat-menu-item href="https://duckduckgo.com" target="_blank">
              DuckDuckGo</a>
        </mat-menu>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input  class="form-control mr-sm-2" 
                type="number" 
                placeholder="Buscar" 
                aria-label="Buscar"
                name = "buscador"
                [(ngModel)]='textoDeInput'>
        <button class="btn btn-outline-success my-2 my-sm-0" 
                type="submit" 
                (click)="buscador()">Buscar</button>
    </form>
  </div>
</nav>

<!--Tabla que muestra los datos mysql-->
<div>
  <h1>Administración de artículos</h1>
  <table class="table" *ngIf="hayRegistros(); else sinarticulos">
    <tr>
      <td>Codigo</td>
      <td>Nombre</td>
      <td>Precio €</td>
      <td>Borrar</td>
      <td>Seleccionar</td>
    </tr>
    <tr *ngFor="let art of articulos">
      <td>{{art.codigo}}</td>
      <td>{{art.descripcion}}</td>
      <td>{{art.precio}}</td>
      <td><button class="btn btn-danger" 
                  (click)="eliminar(art.codigo)">Borrar</button></td>
      <td><button class="btn btn-primary" 
                  (click)="seleccionar(art.codigo)">Seleccionar</button></td>
    </tr>
  </table>
  
  <ng-template #sinarticulos>
    <p>No hay articulos.</p>
  </ng-template>

  <div>
    <!--Formulario y botones, añadir, editar y limpiar-->
    <form #f="ngForm">
      <table>
        <tr>
          Nombre producto:* <strong>{{f.value.nombre}} </strong>
        </tr>
        <td>
          <p>
            <input  
              matInput type="text" 
              [(ngModel)]="art.descripcion" 
              name="nombre" required />
          </p>
        </td>
        <tr>
          Precio:* <strong>{{f.value.precio}} </strong>
        </tr>
        <td>
          <p>
            <input  
              type="number" 
              [(ngModel)]="art.precio" 
              min="0" 
              name="precio" 
              required />
          </p>
        </td>
        <tr>
          <p>
            <button 
              type="submit" 
              class="btn btn-primary" 
              [disabled]="f.invalid" 
              (click)="anadir()"> Agregar </button>
            <button 
              type="submit" 
              (click)="modificacion()"
              class="btn btn-primary"> Modificar </button>
        <tr>
          <td>
            <button
              type="submit" 
              class="btn btn-primary" 
              (click)="limpiarCampos()"> Limpiar Campos </button>
          </td>
        </tr>
        <button
              type="submit" 
              class="btn btn-primary"
              (click)="recuperarTodo()">
              Mostrar BBDD complet
            </button>
          </p>
        </tr>
      </table>
    </form>
  </div>
</div>

<router-outlet></router-outlet>